{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_user %}
        Add User
    {% else %}
        Edit User
    {% endif %}
{% endblock %}
{% block body %}
<div class="outer">
    <div class="middle">
        <div class="center">
            <div class="page-header">
                <h1>
                {% if add_user %}
                    Add User
                {% else %}
                    Edit User
                {% endif %}
                </h1>
            </div>
            {{ wtf.quick_form(form) }}
            <br>
        </div>
    </div>
</div>
{% endblock %}