{% extends "base.html" %}
{% block title %}
    Users
{% endblock %}
{% block body %}
<div class="outer">
    <div class="middle">
        <div class="center">

            <div class="page-header">
                <h1> Users </h1>
            </div>

            <div style="text-align: center">
                <a href="{{ url_for('admin.add_user') }}" class="btn btn-default btn-lg">
                    <i class="fas fa-plus"></i> Add User
                </a>
            </div>

            {% if users %}
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th width="22%"> Name </th>
                        <th width="13%"> Login </th>
                        <th width="15%"> Mail </th>
                        <th width="15%"> Telephone </th>
                        <th width="10%"> Role </th>
                        <th width="5%"> Sex </th>
                        <th width="10%"> Edit </th>
                        <th width="10%"> Delete </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        {% if user.is_admin %}
                            <tr style="background-color: #138d75; color: white;">
                                <td> <i class="fa fa-key"></i> Admin </td>
                                <td> {{ user.username }} </td>
                                <td> N/A </td>
                                <td> N/A </td>
                                <td> N/A </td>
                                <td> N/A </td>
                                <td> N/A </td>
                                <td> N/A </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>
                                    {% if user.roles.id == 1%}
                                        <a href="{{ url_for('home.teacher_dashboard', id=user.id) }}">
                                    {% elif user.roles.id == 2 %}
                                        <a href="{{ url_for('home.student_dashboard', id=user.id) }}">
                                    {% elif user.roles.id == 3 %}
                                        <a href="{{ url_for('home.parent_dashboard', id=user.id) }}">
                                    {% endif %}
                                    {{ user }}
                                    </a>
                                </td>
                                <td> {{ user.username }} </td>
                                <td> {{ user.email }} </td>
                                <td>
                                    {% if user.telephone %}
                                        {{ user.telephone }}
                                    {% else %}
                                        no telephone
                                    {% endif %}
                                </td>
                                <td> {{ user.roles.name }} </td>
                                <td>
                                <h4>
                                    {% if user.is_man %}
                                        <i class="fas fa-mars"></i>
                                    {% else %}
                                        <i class="fas fa-venus"></i>
                                    {% endif %}
                                </h4>
                                </td>
                                <td>
                                    <a href="{{ url_for('admin.edit_user', id=user.id) }}">
                                        <i class="fas fa-pencil-alt"></i> edit
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ url_for('admin.delete_user', id=user.id) }}">
                                        <i class="fas fa-trash"></i> <d></d>elete
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-warning" role="alert">No Users have been added.</div>
            {% endif %}

            <div style="text-align: center">
                <a href="{{ url_for('admin.add_user') }}" class="btn btn-default btn-lg">
                    <i class="fas fa-plus"></i> Add User
                </a>
            </div>
            </br>
        </div>
    </div>
</div>
{% endblock %}