{% extends "base.html" %}
{% block title %}Student{% endblock %}
{% block body %}
<div class="outer">
    <div class="center">
        <div class="page-header">
            <h1>
                {{ user.fullname }}
                <small>(student)</small>
            </h1>
        </div>
        <div>email: {{ user.email }}</div>
        <div>Tell:
            {% if user.telephone %}
                {{ user.telephone }}
            {% else %}
                no telephone
            {% endif %}
        </div>
        <div> Class:
        {% if studentClass %}
        <a href="{{ url_for('classes.one_class', class_id=studentClass.classes.id) }}">
            {{ studentClass.classes }}
        </a>
        {% else %}
            not bind
        {% endif %}
        </div>

        <br>
        {% if parents %}
            <div class="panel panel-default">
                <div class="panel-heading">Parents:</div>
                <ul class="list-group">
                    {% for parent in parents %}
                        <li class="list-group-item">
                            <a href="{{ url_for('home.parent_dashboard',id=parent.parentStudent.id) }}">
                                {{ parent.parentStudent.fullname }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">No parents</div>
        {% endif %}
    </div>
</div>
{% endblock %}