{% extends "base.html" %}
{% block title %} Teacher {% endblock %}
{% block body %}
<div class="outer">
    <div class="center">
        <div class="page-header">
            <h1>
                <i class="far fa-user"></i> {{ user.fullname }}
                <small>(teacher)</small>
            </h1>
        </div>

        <div>Email: {{ user.email }}</div>

        <div>Tell:
            {% if user.telephone %}
                {{ user.telephone }}
            {% else %}
                no telephone
            {% endif %}
        </div>

        <div>Head Class:
            {% if headClass %}<a href="{{ url_for('admin.one_class', class_id=headClass.id) }}">
                {{ headClass.name }}
            </a>
            {% else %}
                no link
            {% endif %}
        </div>

        <div>Classroom:
        {% if classroom %}
            {{ classroom.classrooms.name }}
        {% else %}
            no link
        {% endif %}
        </div>

        <br>
        {% if subjects %}
            <div class="panel panel-default">
                <div class="panel-heading">Subjects:</div>
                <ul class="list-group">
                    {% for subject in subjects %}
                        <li class="list-group-item">{{ subject.subjects.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">No subjects</div>
        {% endif %}
    </div>
</div>
{% endblock %}