{% extends "base.html" %}
{% block title %} Teacher {% endblock %}
{% block body %}
<div class="outer">
    <div class="center">
        <div class="page-header">
            <h1>
                {{ user.fullname }}
                <small>(teacher)</small>
            </h1>
        </div>
        <div>email: {{ user.email }}</div>
        <div>Tell:
            {% if user.tel != "" %}
                {{ user.tel }}
            {% else %}
                no phone number
            {% endif %}
        </div>
        <div>Head Class:
            <a href="{{ url_for('classes.one_class', class_id=headClass.id) }}">
                {{ headClass.name }}
            </a>
        </div>
        <div>Classroom:
        {% if classroom %}
            {{ classroom.classrooms.name }}
        {% else %}
            no classrooms
        {% endif %}
        </div>

        <br>
        {% if subjects %}
            <div class="panel panel-default">
                <div class="panel-heading">Subjects:</div>
                <ul class="list-group">
                    {% for subject in subjects %}
                        <li class="list-group-item">
                            {{ subject.subjects.name }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">No subjects</div>
        {% endif %}
    </div>
</div>
{% endblock %}