{% extends "base.html" %}
{% block title %}
    Teacher
{% endblock %}
{% block body %}
<div class="content-section">
    <div class="center">
        <a href="{{ url_for('home.teacher_dashboard', id=user.id) }}">
            <h2>{{ user.first_name }} {{ user.last_name }} {{ user.middle_name }}</h2>
        </a>
        <div>email: {{ user.email }}</div>
        <div>Tell:
            {% if user.tel != "" %}
                {{ user.tel }}
            {% else %}
                no phone number
            {% endif %}
        </div>
        <div>Head Class:
            <a href="{{ url_for('classes.one_class', class_id=headClass.id) }}">
                {{ headClass.name }}
            </a>
        </div>
        <div>Classroom:
        {% if classroom %}
            {{ classroom.classrooms.name }}
        {% else %}
            no classrooms
        {% endif %}
        </div>
        <hr>
        <div>Subjects: </div>
        {% for subject in subjects %}
            <div>
                {{ subject.subjects.name }}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}