{% extends "base.html" %}
{% block body %}
    <div class="outer">
        <div class="middle">
            <div class="center">
                <div class="page-header">
                    <h1>{{ title }}</h1>
                </div>
                {% if plans %}
                <div class="list-group">
                    {% for plan in plans %}
                        <a href="{{ url_for('admin.list_schedule_year_sem', year=plan['_year'],semester=plan['_semester'], pagin=1) }}" class="list-group-item list-group-item-info">
                            <i class="fas fa-external-link-square-alt" aria-hidden="true"></i> {{ plan['_year'] }} - {{ plan['_semester'] }} semester
                        </a>
                    {% endfor %}
                </div>
                {% else %}
                    <div class="alert alert-warning" role="alert">No Schedule.</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}