{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    Teacher-Classroom
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_classroom_link %}
                <h1> Add a link between Teacher and the Classroom </h1>
            {% else %}
                <h1> Change the link between Teacher and the Classroom </h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}