{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    Teacher-Classroom
{% endblock %}
{% block body %}
<div class="outer">
    <div class="middle">
        <div class="center">
            <div class="page-header">
                <h1>
                    {% if add_classroom_link %}
                        Add a link between Teacher and the Classroom
                    {% else %}
                        Change the link between Teacher and the Classroom
                    {% endif %}
                    <br>
                    <small>Teacher -
                        <a href="{{ url_for('home.teacher_dashboard',id=teacher.id) }}">
                            {{ teacher }}
                        </a>
                    </small>
                </h1>
            </div>

            <br/>
            {{ wtf.quick_form(form) }}
        </div>
    </div>
</div>
{% endblock %}