{% extends "base.html" %}
{% block title %}
    Teachers info
{% endblock %}
{% block body %}
    <div class="outer">
        <div class="middle">
            <div class="center">
                <div class="page-header">
                    <h1> Teachers info </h1>
                </div>

                {% if teachers.items %}
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th width="40%"> Teacher</th>
                            <th width="20%"> List of Subjects</th>
                            <th width="20%"> Bind to Classroom</th>
                            <th width="20%"> Bind to Class</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for teacher in teachers.items %}
                            {% if teacher.is_admin==False %}
                                <tr>
                                    <td>
                                        <a href="{{ url_for('home.teacher_dashboard',id=teacher.id) }}">
                                            {{ teacher }}
                                        </a>
                                    </td>
                                    <td>
                                        {% if teacher.teacherToSubject.all() %}
                                            <a href="{{ url_for('admin.edit_teacher_subjects', id_teacher=teacher.id) }}">
                                                <i class="fas fa-pencil-alt"></i> edit subjects list
                                            </a>
                                            {% for subjects in teacher.teacherToSubject.all() %}
                                                <div>{{ subjects.subjects }}</div>
                                            {% endfor %}
                                        {% else %}
                                            <a href="{{ url_for('admin.add_teacher_subjects', id_teacher=teacher.id) }}">
                                                <i class="fas fa-plus-circle"></i> add subject
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if teacher.teacherClassroom.first() %}
                                            <a href="{{ url_for('admin.edit_teacher_classroom', id_teacher=teacher.id) }}">
                                                <i class="fas fa-link"></i> edit bind
                                            </a><br>
                                            <span class="label label-success">
                                                {{ teacher.teacherClassroom.first().classrooms.name }}
                                                ({{ teacher.teacherClassroom.first().classrooms.room_specializations.name }})
                                            </span><br>
                                            <a href="{{ url_for('admin.delete_teacher_classroom', id_teacher=teacher.id) }}">
                                                <i class="fas fa-unlink"></i> remove bind
                                            </a>
                                        {% else %}
                                            <a href="{{ url_for('admin.add_teacher_classroom', id_teacher=teacher.id) }}">
                                                <i class="fas fa-link"></i> add link
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if teacher.teacherInClass.first() %}
                                            <a href="{{ url_for('home.class_dashboard', id=teacher.teacherInClass.first().id) }}">
                                            <span class="label label-success">
                                                {{ teacher.teacherInClass.first() }}
                                            </span>
                                            </a>
                                        {% else %}
                                            No classes available <br>
                                            <a href="{{ url_for('admin.add_class') }}">
                                                <i class="fas fa-link"></i> add link
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <ul class="pagination">
                    {%- for page in teachers.iter_pages() %}
                        {% if page %}
                            {% if page != teachers.page %}
                                <li><a href="{{ url_for('admin.list_teachers_info', pagin=page) }} ">{{ page }}</a></li>
                            {% else %}
                                <li class="active"><a href="#">{{ page }}</a></li>
                            {% endif %}
                        {% else %}
                            <li><span class=ellipsis>…</span></li>
                        {% endif %}
                    {%- endfor %}
                    </ul>
                {% else %}
                    <div class="alert alert-warning" role="alert">No teachers.</div>
                {% endif %}
                <br>
            </div>
        </div>
    </div>
{% endblock %}