{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    Teacher-Subjects
{% endblock %}
{% block body %}
<div class="outer">
    <div class="middle">
        <div class="center">
            <div class="page-header">
                <h1>
                    Added a subject to the list of teacher subjects <br>
                    <small>Teacher -
                        <a href="{{ url_for('home.teacher_dashboard',id=teacher.id) }}">
                            {{ teacher }}
                        </a>
                    </small>
                </h1>
            </div>
            {{ wtf.quick_form(form) }}
            <br/>
        </div>
    </div>
</div>
{% endblock %}