{% extends "base.html" %}
{% block title %} Classes {% endblock %}
{% block body %}
    <div class="outer">
        <div class="middle">
            <div class="center">

                <div class="page-header">
                    <h1> Classes </h1>
                </div>

                <div style="text-align: center">
                    <a href="{{ url_for('classes.add_class') }}" class="btn btn-default btn-lg">
                        <i class="fas fa-plus"></i> Add Class
                    </a>
                </div>

                {% if classesList.items %}
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th width="4%"> ID</th>
                            <th width="6%"> Name</th>
                            <th width="9%"> Date Start</th>
                            <th width="9%"> Date End</th>
                            <th width="14%"> Spec</th>
                            <th width="24%"> Head Teacher</th>
                            <th width="12%"> Classroom</th>
                            <th width="10%"> Edit class</th>
                            <th width="12%"> Number of students </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for classOne in classesList.items %}
                            <tr>
                                <td> {{ classOne.id }} </td>
                                <td>
                                    <a href="{{ url_for('classes.one_class', class_id=classOne.id) }}">
                                        {{ classOne }}
                                    </a>
                                </td>
                                <td> {{ classOne.dateStartEducation.strftime('%d, %b %Y') }} </td>
                                <td> {{ classOne.dateEndEducation.strftime('%d, %b %Y') }} </td>
                                <td> {{ classOne.specializations.name }} </td>
                                <td>
                                    <a href="{{ url_for('home.teacher_dashboard', id=classOne.users.id) }}">
                                        {{ classOne.users }}
                                    </a>
                                </td>
                                <td>
                                    {{ classOne.classrooms.name }} <br>
                                    ({{ classOne.classrooms.room_specializations.name }})
                                </td>
                                <td>
                                    <a href="{{ url_for('classes.edit_class', id=classOne.id) }}">
                                        <i class="fas fa-pencil-alt"></i> edit
                                    </a>
                                    <br>
                                    <a href="{{ url_for('classes.delete_class', id=classOne.id) }}">
                                        <i class="fas fa-trash"></i> delete
                                    </a>
                                </td>
                                <td>
                                    {{ classOne.students.count() }}<br>
                                    {% if classOne.students.count()!=0 %}
                                        <a href="{{ url_for('classes.list_students', id=classOne.id) }}">
                                            <i class="fas fa-pencil-alt"></i> edit list
                                        </a>
                                    {% else %}
                                        <a href="{{ url_for('classes.add_student', id=classOne.id) }}">
                                        <i class="fas fa-plus"></i> add student
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <ul class="pagination">
                    {%- for page in classesList.iter_pages() %}
                        {% if page %}
                            {% if page != classesList.page %}
                                <li><a href="{{ url_for('admin.list_parent_to_student', pagin=page) }} ">{{ page }}</a></li>
                            {% else %}
                                <li class="active"><a href="#">{{ page }}</a></li>
                            {% endif %}
                        {% else %}
                            <li><span class=ellipsis>…</span></li>
                        {% endif %}
                    {%- endfor %}
                    </ul>
                {% else %}
                    <div class="alert alert-warning" role="alert">No class have been added.</div>
                {% endif %}

                <div style="text-align: center">
                    <a href="{{ url_for('classes.add_class') }}" class="btn btn-default btn-lg">
                        <i class="fas fa-plus"></i> Add Class
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}