{% extends "base.html" %}
{% block title %}Class{% endblock %}
{% block body %}
<div class="outer">
    <div class="center">
        <div class="page-header">
            <h1>{{ _class }}</h1>
        </div>
        <div>Specialization: {{ _class.specializations }}</div>
        <div>Teacher:
            <a href="{{ url_for('home.teacher_dashboard', id=_class.users.id) }}">
                {{ _class.users.last_name }} {{ _class.users.first_name }} {{ _class.users.middle_name }}
            </a>
        </div>
        <div>Classroom:
            {{ _class.classrooms.name }}
            ({{ _class.classrooms.room_specializations.name }})
        </div>

        <br>
        {% if classStudents %}
            <div class="panel panel-default">
                <div class="panel-heading">Students:</div>
                <ul class="list-group">
                    {% for student in classStudents %}
                        <li class="list-group-item">
                            <a href="{{ url_for('home.student_dashboard',id=student.users.id) }}">
                                {{ student.users.last_name }} {{ student.users.first_name }} {{ student.users.middle_name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">No students</div>
        {% endif %}
    </div>
</div>
{% endblock %}