{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}
    <div class="outer">
        <div class="middle">
            <div class="center">
                <div class="page-header">
                    <h1>
                        {{ title }}<br>
                        <small>{{ class_name }}</small>
                    </h1>
                </div>
                {{ wtf.quick_form(form) }}
                <br>
            </div>
        </div>
    </div>
{% endblock %}